<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fieldset Login</title>
</head>
<body>

  <form>
   <!-- 비슷한 느낌의 내용을 묶을 때 보통 사용 -->
    <fieldset>
        <legend>프라이버시</legend>
      <ul>
        <li>
          <label for="name">Name</label>
          <input type="text" id="name">
        </li>
          <li>
              <label for="email">e-mail</label>
              <input type="text" id="email">
          </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>회원정보</legend>
      <ul>
        <li>
          <label for="id">ID</label>
          <input type="text" id="id">
        </li>
        <li>
          <label for="pw">PASSWORD</label>
          <input type="text" id="pw">
        </li>
      </ul>
    </fieldset>
  </form>
</body>
</html>