<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>formRadio</title>
</head>
<body>
    <form action="/test">
        골라보자!<br>
        <input type="radio" name="ages" id="teen" value="10대">
        <label for="teen">10대입니다.</label><br>
        <input type="radio" name="ages" id="twenties" value="10대">
        <label for="twenties">20대입니다.</label><br>
        <input type="radio" name="ages" id="thrities" value="10대">
        <label for="thrities">30대입니다.</label><br>
        <input type="radio" name="ages" id="fourties" value="10대">
        <label for="fourties">40대입니다.</label><br>
        <input type="submit">
    </form>
</body>
</html>