<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>radio</title>
  <style>
      ul{
        list-style: none;
      }
      li {
        margin: 20px;
      }
    </style>
</head>
<body>
  <h3>1개만 선택하시오</h3>
  <ul>
    <li>
      <lable><input type="radio" name="subject" value="grammer">영문법</lable>
      <input type="radio" name="subject" value="grammer">영문법
      <!--lable 뺀 것과 비교 / 다시 공부해볼것 -->
    </li>
    <li>
      <lable><input type="radio" name="subject" value="writting">영작문</lable>
    </li>
    <li>
      <lable><input type="radio" name="subject" value="reading">영독해</lable>
    </li>
    <li>
      <lable><input type="radio" name="subject" value="listening">영듣기</lable>
    </li>
  </ul>
</body>
</html>